/* ==========================================================================
   Blog - アーカイブページ
   ========================================================================== */

/* Blogs - ブログ一覧
   ========================================================================== */
   
.blog__left,
.blog__right{
    box-sizing: border-box;
    padding: 20px;
}
.blog__left{
    max-width: 630px;
    margin-left: 20px;
}
.blog__right{
    max-width: 350px;
    margin-right: 20px;
}

.blog{
  color:black;
  text-decoration:none;
}

.blog .content{
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #999999;
}
.blog .box .content__left img{
    background-color: #ff0;
    margin-right: 20px;
    width: 120px;
    float: left;

}

.blog .box .content__right{
  float:left;
  max-width: 400px;
}

.blog .box .content__right .content_title {
  border-bottom: 2px solid #f08300;
  margin:0 0 10px 0;
}

.blog .box .content__right .content_info{
  margin:10px 0 0 0;
  float:right;
}


/* Post - ブログ記事
   ========================================================================== */


/* Search - 検索ウィンドウ
   ========================================================================== */

#search{
    margin: 0px auto;
    width: 250px;
    height: 50px;
    border: 2px solid #999999;
    background-color: #ddd;
    margin-bottom: 30px;
}


/* Calendar - カレンダー
   ========================================================================== */

#calendar{
    width: 310px;
    height: 300px;
    border: 2px solid #999999;
}
