/* ==========================================================================
   Top - サイトトップ
   ========================================================================== */

/* スライダー
   ========================================================================== */
.topslider{
    margin-bottom: 30px;
}
.slide{
    position: relative;
    width: 1020px;
    height: 300px;
}
.slide__description{
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    width: 50%;
    height: 150px;
    right: 0;
    bottom: 0;
}
.slide__title{
    font-size: 24px;
    line-height: 1.6;
}
.slide__date{
    font-size: 16px;
    line-height: 1.6;
    text-align: right;
}
.slide__text{
    font-size: 16px;
    line-height: 1.6;
}
.slick-dots{
  margin-bottom:20px;
  /*Slickのbuttomを強制的に動かしてる*/
}

/* 更新情報
   ========================================================================== */
.topinfo{
    padding: 20px;
}
.topinfo:after{
    content: "";
    display: block;
    clear: both;
}

<<<<<<< HEAD
    .slick-dots{
      margin-bottom:20px;
      /*Slickのbuttomを強制的に動かしてる*/
    }

    .slick-list{
      width:100%;
      height:300px;
    }
    .topinfo:after{
        content: "";
        display: block;
        clear: both;
    }
=======
.topinfo__left,
.topinfo__right{
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    padding: 20px 40px;
}
.topinfo__left{
    float: left;
    border: 2px solid #ffa500;
}
.topinfo__left .topinfo__list li{
    border-bottom: 1px dashed #ffa500;
}
.topinfo__right{
    float: right;
    border: 2px solid #2e8b57;
}
.topinfo__right .topinfo__list li{
    border-bottom: 1px dashed #2e8b57;
}
.topinfo__list{
    list-style: none;
    padding-left: 0;
}
.topinfo__list li a{
    color: #000;
    display: block;
    text-decoration: none;
}
.topinfo__date{
    margin-right: 30px;
}

/* 1024px 以下の処理 */
@media screen and (max-width: 1024px){
>>>>>>> b62b42f464903756dfdd5161b1c23b0c46a1ad7e
    .topinfo__left,
    .topinfo__right{
        max-width: 100%;
    }
    .topinfo__right{
        margin-top: 20px;
    }
<<<<<<< HEAD
    .topinfo__list{
        list-style: none;
        padding-left: 0;
    }
    .topinfo__list li a{
        color: #000;
        display: block;
        text-decoration: none;
    }
    .topinfo__date{
        margin-right: 30px;
    }

/* Slider スライダー部分
   ========================================================================== */

   .topslider{
     width:100%;
     max-height:400px;
     min-height:300px;
   }

   div.slider_box{
     position:relative;
     width:100%;
     max-height:400px;
     min-height:300px;
     background-image:url('http://dummyimage.com/1020x300/ccc/fff');
   }
   .slider_box .slider_content{
     position:absolute;
     left:0;
     bottom:0;
     vertical-align:bottom;
     padding:8px;
     margin:4px;
     background-color:rgba(50,50,50,0.3);
   }


/* Post - ブログ記事
   ========================================================================== */
=======
}
>>>>>>> b62b42f464903756dfdd5161b1c23b0c46a1ad7e
